<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8" />
        <style type="text/css">
            body {
                font-family: Monospace;
                text-align: center;
                min-width: 600px;
            }
            tr:nth-of-type(odd) { 
              background: #DFDFDF; 
            }
            tr:nth-of-type(even) { 
              background: #E6E6E6; 
            }
            table { 
               table-layout: fixed;
               width: 90%;
               align:center;
            }
            .pushed_data_container {
                overflow-x: auto;
                overflow: auto;
            }
            .hidden {
                display: none;
            }
            #title {
                color:#882222;
            }
            #answer_target {
                color: #990000;
                background-color: #FFFF99;
                padding: 10px;
            }
        </style>
    </head>
 
    <body>
        <h1 id="title">{{ title }}</h1>
        <div id="ws_connection">
            <label for="host">host:</label><input type="text" id="host" value="127.0.0.1"/>
            <label for="port">port:</label><input type="text" id="port" value="8000"/>
            <label for="uri">uri:</label><input type="text" id="uri" value="/websocket"/>
            <br></br>
            <input type="submit" id="open_btn" value="open" onclick="open_btn_clicked();"/>
            <input type="submit" id="close_btn" value="close" onclick="close_btn_clicked();" disabled="true"/>
        </div>
        <br></br>
        <div id="connect_container">
            <p>
                Device name of serial interface:
                <input type="text" id="device_name" value="/dev/ttyUSB0"/>
                Baudrate:
                <input type="text" id="device_baudrate" value="9600"/>   
                <input type="submit" id="connect_btn" value="connect" onclick="connect_btn_clicked();" />
                <input type="submit" id="disconnect_btn" value="disconnect" onclick="disconnect_btn_clicked();" />                
            </p>
        </div>
        <div id="message_container">
            Text to send on serial interface:
            <input type="text" id="message" value="Hot meat!"/>
            <input type="submit" id="send_btn" value="send to serial" onclick="send_btn_clicked();" disabled="true"/>
        </div>

        <div id="answer_target">***</div>
        <br></br>
        <div id="heartbeat_target">***</div>
        <div id="pushed_data_container">
        </div>    
        <small id="footer">{{ footer }}</small>
        <hr> 
        <b>Debug stuff</b>
        <div id="status_target">***</div>
        <div id="last_answer_target">***Serial Receive buffer ***</div>

        <div id="logger_area_container">
            <textarea id="logger_area" maxlength="50" rows="20" cols="100">
            </textarea>
        </div>    
    </body>

    <script>
 
        var ws_instance;  
        var logging = function(data){
            _ = document.getElementById("logger_area").innerHTML;
            document.getElementById("logger_area").innerHTML = data.substring(0, 500) + "\n" + _;
            console.log(data);
        };
        var open_btn_clicked = function () {

            var host = document.getElementById("host").value;
            var port = document.getElementById("port").value;
            var uri  = document.getElementById("uri").value;
            try {

                if (ws_instance) {
                    ws_instance.close();
                }
                var resource = "ws://" + host + ":" + port + uri;
                logging("connecting to: " + resource);
                ws_instance = new WebSocket(resource);
                ws_instance.onerror   = on_ws_error  ; 
                ws_instance.onopen    = on_ws_open   ;  
                ws_instance.onclose   = on_ws_close  ;
                ws_instance.onmessage = on_ws_message;
            } catch(err) {
                logging("err:" + err);
            }
        }
        var close_btn_clicked = function () {
            try {
                ws_instance.close();
                ws_instance = null;
            } catch(err) {
                logging("err:" + err);
            }
        }

        var send_command = function (command_name, arguments) {
            var msg_ = {
               "command_name": command_name,
               "arguments": arguments
            };
            msg_json = JSON.stringify(msg_);

            logging("sending message to ws: '" + msg_json + "'");
            ws_instance.send(msg_json);
        }
  
        var connect_btn_clicked = function () {
            send_command("connect", {
                "device_name": document.getElementById("device_name").value,
                "device_baud": document.getElementById("device_baudrate").value
            });
        }
        var disconnect_btn_clicked = function () {
            send_command("disconnect", {});
        }
        
                
        var send_btn_clicked = function () {
            send_command("send_on_serial", {
                "text": document.getElementById("message").value
            });
        }
        
        var on_ws_error = function (evt) {
            logging("error: " + evt.data);
            alert("error: " + evt.data);
        }
        var on_ws_open = function (evt) {
            logging("* ws connection open *");
            document.getElementById("open_btn").disabled = true; 
            document.getElementById("send_btn").disabled = true; 
            document.getElementById("close_btn").disabled = false; 
            document.getElementById("connect_btn").disabled = false;
            document.getElementById("disconnect_btn").disabled = true;            
        }
        var on_ws_close = function (evt) {
            logging("* ws connection closed *");
            document.getElementById("open_btn").disabled = false; 
            document.getElementById("send_btn").disabled = true; 
            document.getElementById("close_btn").disabled = true;
            document.getElementById("connect_btn").disabled = true;
            document.getElementById("disconnect_btn").disabled = true;            
        }
        var on_ws_message = function (evt) {
            try {
                logging("recv message:" + evt.data);
                var data = JSON.parse(evt.data);
                if (data.answer != undefined) {
                    document.getElementById("last_answer_target").innerHTML = "answer to last command (" + data.answer + "):" +
                     (data.content ? "OK" : "FAIL");
                } else if (data.signal != undefined) {
                    switch(data.signal) {
                    case "status":
                        document.getElementById("status_target").innerHTML = "current status:" + data.content;
                        if (data.content == "connected") {
                            document.getElementById("send_btn").disabled = false;                        
                            document.getElementById("connect_btn").disabled = true;
                            document.getElementById("disconnect_btn").disabled = false;
                        } else if (data.content == "disconnected") {
                            document.getElementById("send_btn").disabled = true;                        
                            document.getElementById("connect_btn").disabled = true;
                            document.getElementById("disconnect_btn").disabled = true;                        
                        }
                        break;
                    
                    case "recv_from_serial":
                        var _ = document.getElementById("heartbeat_target");
                        _.innerHTML += "<br>" + "<b>" + data.timestamp + "</b>:" + data.content;
                        break;
                    }                    
                }
                
            } catch(err) {
                logging("err:" + err);
            }
        }

        var init = function () {
             open_btn_clicked();
             var rs485_status = rs485_reset_status;
        }

        var rs485_reset_status = {
            "connected": false,
        }

        init();

    </script>

</html>
